/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

div .card{
  width: 20rem;
}


div .output{
  margin-top: 15px;
  height: 700px; 
  overflow-y: auto;
  /* border: 1px solid #ccc; */
}
div .miring{
  font-style: italic;
  margin:auto;
  padding:10px
}

.tebal{
  font-weight: 700;
}

.flower_1{
  width: 150px;
  position: absolute;
  opacity: 0.2;
  right: 0rem;
  object-fit: cover;
  transform: (180deg);
}

.flower_2{
  width: 120px;
  position: absolute;
  opacity: 0.2;
  left: -1.5rem;
  transform: (180deg);
}
/* Sticky footer styles
-------------------------------------------------- */
body, html {
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /* margin-bottom: 60px; */
  background-color: #550000;
  font-family: 'Merriweather', serif;
  overflow-x: hidden;
}

.script {
  /* Margin bottom by footer height */
  background-color: #b6ceaa;
  font-family: "Great Vibes", serif;
}

.container {
  max-width: 760px;
  background-color: #b6ceaa;
  padding: 1rem 2rem 60px 2rem;
}



.quotes {
  font-style: italic;
}

.pesan {
  font-style: italic;
}

.section {
  margin: 50px 0;
}

.point {
  margin-bottom: 0;
}

.subtitle {
  /* font-family: 'Merriweather Light'; */
}

.custom-width{
  width:90px;
  height: 40px;
  display: flex;
}

.loader{
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: an1 1s ease infinite;
}

@keyframes an1 {
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/bismillah.woff2');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+FDFD;
}

@font-face {
  font-family: p406-v1;
  src: url('../fonts/p406-v1.woff2');
  font-weight: normal;
  font-style: normal;
}

.quran {
  font-family: p406-v1;
  font-size: 2rem;
}

.bismillah-image {
  height: 3rem;
  fill: #212529;
}

.bismillah {
  font-family: bismillah;
  font-size: 3rem;
}

.arabic {
  font-family: Amiri;
  font-size: 1.5rem;
}

p + .arabic {
  margin-top: 2rem;
}

.title {
  font-weight: 900;
}

.header1 {
  font-size: 3.5rem;
}

.header2 {
  font-size: 3rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.header2 + .header3 {
  margin-top: 2rem;
}

.header3 {
  font-size: 2.7rem;
}

.and-sign {
  font-size: 3rem;
  margin: 30px 0 20px 0;
}

.name-left, .name-right {
  display: flex;
  flex-direction: column;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

.spacer {
  width: 10%;
}

div + .header3 {
  margin-top: 40px
}

.guest {
  margin: 5px 15px;
  text-align: center;
}

.guest-name {
  font-weight: bold;
}

.destination {
  margin: 0 0 -30px 0;
}

.label {
  display: inline-flex;
  padding: 15px;
  background-color: #fff;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

.spacer {
  text-decoration: none !important;
}

.floating-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.floating-control {
  position: fixed;
  bottom: 24px;
  font-size: 48px;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #ffecd5;
  line-height: 1rem;
  padding: 0px
}

.control {
  color: inherit;
  cursor: pointer;
}

.control:hover {
  color: red;
}

.floating-control.stopped {
  padding: 8px;
  font-size: 32px;
  background-color: #212529;
  color: #ffecd5;
}

.comment .row .row {
  margin-bottom: 10px;
}

.label-title {
  font-weight: 900;
}

.posts {
  margin-bottom: 30px;
}

.post-item {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}


.post-item p {
  margin: 0;
}

.author-name {
  font-weight: 900;
}



.post-container {
  margin-top: 10px;
  overflow: hidden auto;
  max-height: 30rem;
  padding: 1rem 1.6rem;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
}

.post-item:last-child {
  margin-bottom: 0;
}

.foot-ruler {
  width: 80%;
  margin: 0px auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* button */
::-webkit-scrollbar-button {
  background: #885618;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #af6f21;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d17e18;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffecd5;
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
  background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #999;
}



/*

.name-left, .name-right {
  display: block;
  margin-bottom: 50px;
  float: left;
}

.name-left {
  margin-right: 40px;
}

.name-right {
  margin-right: 40px;
}


.center-wrapper {
  margin: 0 auto;
  width: 80%;
}

*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


main .nonmoslem{
  display: none;
}